*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
body{
    background-image: linear-gradient(rgba(0, 3, 12, 0.7),rgba(1, 6, 24, 0.7)), url(images/background.jpg);
    background-size: cover;
    height: 100%;
    object-fit: cover;
}
.swiper{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    opacity: 1;
}
.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
.slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
/* nav */
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom,#000 30%,rgba(0,0,0,0) 100%);
}
nav img{
    width: 100px;
    height: auto;
    top: 0;
    padding-top: 25px;
    position: absolute;
}
.nav{
    flex: 1;
    text-align: center;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-left: 77px;
}
.nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(255, 238, 0);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav ul li:hover::after{
    width: 100%;
}
nav .bx{
    display: none;
}
nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2% 3%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding 1s;
    z-index: 2;
}
/*intro*/
.introduction{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.introduction h1{
    font-size: 45px;
    font-weight: 600; 
}
.introduction p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 18px;
}
/* 3 sub sections */
h1{
    font-size: 32px;
    font-weight: 600;
}
.row-two{
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.sub-sections{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 25px;
}
.col{
    flex-basis: 48%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}
.col img{
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    object-fit: cover;
}
.sub-sections h2{
    padding: 15px 6px;
    text-align: left;
    font-weight: 300px;
}
.sub-sections p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin: auto;
    padding: 22.5px 6px;
}
#twosubs{
    padding-top: 80px;
    padding-bottom: 20px;
}
/* sections */
.row{
    margin-top: 0%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}
.content{
    width: 80%;
    margin: auto;
    padding-top: 10px;
}
#hieght{
    margin-top: 25px;
}
.content-col{
    flex-basis: 48%;
    padding: 25px 2px;
}
.content-col h2{
    padding-top: 0;
}
.content-col p{
    margin: auto;
    padding: 10px 0 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin: auto;
    padding: 22.5px 6px;
}
.content-col iframe{
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: .2s linear;
}
.content-col iframe:hover{
    transform: scale(1.05);
}
.order{
    order: 2;
}
.order2{
    order: 1;
}
/* footer */
footer{
    background: #111;
}
.footer{
    width: 100%;
    padding: 70px 0px 20px;
    position: relative;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.icon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.icon a:hover{
    background-color: #111;
    transition: 0.5s;
}
.icon a:hover i{
    color: white;
    transition: 0.5s;
}
.bot{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.bot p{
    text-align: center;
    color: white;
}
.foot-name{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
hr{
    border: none;
    background-color: #fff;
    margin-bottom: 15px;
    margin-top: 40px;
}
@media screen and (max-width: 770px){
    *{
        overflow-x: hidden;
    }
    .footer-left, .footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .row{
        flex-direction: column;
    }
    .row-two{
        flex-direction: column;
    }
    .sub-sections p{
        margin-bottom: 20px;
    }
    .col img{
        height: 30vh;
    }
    .content-col iframe{
        height: 30vh;
        width: 100%;
    }
    /* navbar */
    .nav ul li{
        display: block;
    }
    .nav{
        position: absolute;
        background: #000;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -350px;
        text-align: center;
        z-index: 2;
        transition: 1s linear;
    }
    nav img{
        height: auto;
        width: 50px;
        padding-top: 15px;
    }
    nav{
        overflow-x: visible;
    }
    nav .bx{
        overflow-x: visible;
        color: #fff;
        margin: 10px;
        display: block;
        font-size: 22px;
        cursor: pointer;
        padding-right: 30px;
        text-align: right;
    }
    .nav ul{
        padding-right: 35px;
    }
}
